@model IEnumerable<CarDto>

<table class="table table-borderless">
    <thead class="border-bottom">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Model</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Year</th>
        </tr>   
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <th scope="row">@car.Id</th>
                <td>@car.Model</td>
                <td>@car.Manufacturer.Name</td>
                <td>@car.Year</td>
            </tr>
        }
    </tbody>
</table>