@model ManufacturersListViewModel

    <h4 class="float-left">Manufacturers</h4>
    <a class="btn btn-success float-right mb-2" asp-action="AddManufacturer">Add New</a>

    <partial name="ManufacturersList" model="Model" />
