@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="font-weight-light">Made according to task specifications</h2>

    <div class="mt-4">
        <a asp-action="Index" asp-controller="Car"
           class="btn btn-primary">
            Cars
        </a>
        <a asp-action="Index" asp-controller="Taxi"
           class="btn btn-primary">
            Taxi
        </a>
    </div>
</div>
